@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

:root {
  --primary-color: #0057FB;
  --seconday-color: #1d3557;
  --white-color: #fff;
}

body{
  font-family: 'Inter', sans-serif;
}