.signin {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signin .right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin .right .title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.signin .right .logo {
  text-decoration: none;
  position: absolute;
  top: 5%;
  left: 25.75%;
  font-size: 1.8rem;
  color: #0057fb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.signin .right .logo span {
  margin-left: 0.75rem;
  color: #333;
}

.signin .form {
  width: 370px;
  margin-bottom: 1rem;
}

.right .form .name-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.7rem;
}
.right .form .name-group .field-group {
  margin: 0;
}

.right .field-group {
  margin: 1rem 0;
  position: relative;
}

.field-group label,
.field-group input:not(.valid) ~ label {
  position: absolute;
  top: 50%;
  left: 0.8rem;
  transform: translateY(-50%);
  font-size: 0.85rem;
  color: #333;
  z-index: 2;
  transition: all 0.2s;
}

.field-group input:focus ~ label,
.field-group input.valid ~ label {
  top: 0;
  left: 0.45rem;
  font-size: 0.7rem;
  padding: 0 5px;
  color: #0057fb;
  background-color: #fff;
}

.right .field-group .eyeIcon {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  font-size: 1.1rem;
  cursor: pointer;
  color: #333;
}

.right .field-group input {
  padding: 0.5rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.85rem;
  color: #333;
  outline: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.form .remember{
  width: 100%;
  margin: 1rem 0;
  display:flex;
  align-items:center;
}

.form .remember *:first-child{
  margin-right: 0.5rem;
}
.form .remember label{
  font-size: 0.8rem;
  color: #666;
}
.form .btn {
  display: inline-block;
  outline: none;
  border: none;
  letter-spacing: 0.7px;
  padding: 0.5rem 1.25rem;
  background: hsl(219, 100%, 49%);
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.form .btn:hover {
  background-color: hsl(219, 100%, 42%);
}

.right p a {
  text-decoration: none;
}

.right .redirect-link {
  color: #0057fb;
  text-decoration: none;
  border-bottom: 1px solid #0057fb;
}

.signin .left {
  background-color: #0057fb;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.left .container {
  width: 370px;
}

.left .container h1 {
  margin-bottom: 1.2rem;
}

.left .container p {
  font-size: 0.9rem;
  line-height: 25px;
}

.left #one {
  position: absolute;
  top: 5%;
  right: 3%;
  height: 140px;
  width: 140px;
  background: rgb(252, 181, 50);
  transform: skewY(-17deg);
}
.left #two {
  position: absolute;
  top: 5%;
  right: 23%;
  height: 60px;
  width: 60px;
  background: rgb(247, 192, 42);
  transform: skewY(-17deg);
}

.left #three {
  position: absolute;
  bottom: -5%;
  left: 15%;
  height: 170px;
  width: 170px;
  background: #1d3557a6;
  transform: skewY(-17deg);
}
.left #four {
  position: absolute;
  bottom: 17%;
  left: 12%;
  height: 60px;
  width: 60px;
  background: #1d3557a6;
  transform: skewY(-17deg);
}
.left #five {
  position: absolute;
  bottom: 2%;
  left: 3%;
  height: 75px;
  width: 75px;
  background: #1d3557a6;
  transform: skewY(-17deg);
}

/* .left #six {
  position: absolute;
  bottom: 4%;
  right: 3%;
  height: 100px;
  width: 100px;
  background: #ffffff77;
  transform: skewY(-17deg);
  animation: animateleft 0.75s ease-in-out forwards;
}

.left #seven {
  position: absolute;
  bottom: 8%;
  right: 18%;
  height: 50px;
  width: 50px;
  background: #ffffff77;
  transform: skewY(-17deg);
  animation: animateleft 0.75s ease-in-out forwards;
} */
